@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary: #1e90ff;
  --secondary: #008e9b;
  --white :#fff;
  --black :#040404;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: "Lato", sans-serif;
}
#root{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      min-height: 100vh;
      gap: 20px;
}
.foodCard{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 580px;
  gap: 15px;
  background-color: var(--secondary);
  padding:15px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.foodCardImg{
  width: 200px;
}

.foodName, .price{
  color: var(--white);
}
.foodName{
  margin-bottom: 20px;
}
p{
  color: rgba(240, 248, 255, 0.836);
}
.desc{
  margin-bottom: 15px;
}
.d-flex{
  display: flex;
  justify-content: space-between;
}
.buyBtn{
  padding: 8px 20px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 18px;
  background-color: var(--white);
  color: var(--secondary);
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  border: 2px solid var(--white);
}
.buyBtn:hover{
  background-color: var(--secondary);
  color:var(--white);
  border: 2px solid var(--white);
}
